a {
  text-decoration: none;
  line-break: anywhere;
  break-word: break-all;
  overflow-wrap: break-word;
}

/* unvisited link */
a:link {
  color: #22f;
}
.post__title > a:link {
  color: #000;
}
.tag__item > a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #22f;
}
.post__title > a:visited {
  color: #000;
}
.tag__item > a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: #494;
	text-decoration: underline;
}

/* selected link */
a:active {
  color: #f88;
}

body {
	text-align: justify;
}

h1 #post__title {
	text-align: left;
}
