a {
	text-decoration: none;
}

/* unvisited link */
a:link {
  color: #22f;
}

/* visited link */
a:visited {
  color: #22f;
}

/* mouse over link */
a:hover {
  color: #494;
	text-decoration: underline;
}

/* selected link */
a:active {
  color: #f88;
}