a {
  text-decoration: none;
  line-break: anywhere;
  break-word: break-all;
  overflow-wrap: break-word;
}

/* unvisited link */
a:link :not(.tag__link) {
  color: #22f;
}

/* visited link */
a:visited :not(.tag__link) {
  color: #22f;
}

/* mouse over link */
a:hover :not(.tag__link) {
  color: #494;
	text-decoration: underline;
}

/* selected link */
a:active :not(.tag__link) {
  color: #f88;
}

body {
}